body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #222;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #444;
}

.hidden {
  display: none;
}

#app {
  max-width: 500px;
  margin: auto;
}